if SHIELD_ERGONAUT_LEFT

config ZMK_KEYBOARD_NAME
    default "ergonaut"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ERGONAUT_LEFT

if SHIELD_ERGONAUT_LEFT || SHIELD_ERGONAUT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ERGONAUT_LEFT || SHIELD_ERGONAUT_RIGHT
